* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font-size: 1.6rem;
}

p {
  margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

@keyframes bounce {
  0% {
    transform: rotate(-45deg);
  }
  10% {
    transform: rotate(-35deg);
  }
  70% {
    transform: rotate(20deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  90% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
.grid-container {
  min-height: 100vh;
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto/350px auto;
}
@media (max-width: 480px) {
  .grid-container {
    grid: "header" auto "main" auto "picture" auto "aside" auto "footer" auto/auto;
  }
}

header {
  grid-area: header;
  min-height: 30rem;
  background: linear-gradient(to right, var(--primary), var(--dark));
  color: white;
  padding: 8rem 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 480px) {
  header {
    padding: 5rem 2rem;
  }
}
header h1 {
  letter-spacing: 3rem;
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 300;
}
@media (max-width: 480px) {
  header h1 {
    font-size: 4rem;
    letter-spacing: 2rem;
  }
}
header p {
  font-size: 2rem;
  letter-spacing: 0.5rem;
}
header span {
  display: inline-block;
  animation: bounce 2s;
}

.picture {
  background: var(--background);
  grid-area: picture;
  padding: 6rem;
  border-right: 1px solid var(--border);
}
.picture img {
  border-radius: 50%;
}

aside {
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid #ddd;
  padding: 5rem;
}
@media (max-width: 480px) {
  aside {
    padding: 3rem;
  }
}
aside .block {
  margin-bottom: 5rem;
}
aside .block h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
}
aside .block p {
  margin: 0 0 2rem 0;
  font-style: italic;
}
aside .block .bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: var(--hint);
  position: relative;
}
aside .block .bar-skill .bar-skill-progress {
  height: 5px;
  background: var(--primary);
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
}
aside .block .bar-skill .bar-skill-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: var(--primary);
  position: absolute;
  left: calc(100% - 5px);
  top: -2.5px;
}
aside .block .stars-container {
  color: var(--hint);
  margin: 2rem 0 3rem 0;
  display: flex;
}
aside .block .stars-container i {
  font-size: 2rem;
  margin: 0 0.5rem;
}
aside .block .social-container {
  padding: 1rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 5px;
  transition: all 0.2s;
  cursor: pointer;
}
aside .block .social-container:hover {
  background: var(--border);
}
aside .block .social-container:hover i {
  color: var(--primary);
  transform: scale(1.3);
  transition: all 0.3s;
}
aside .block .social-container i {
  font-size: 2rem;
  margin-right: 1rem;
  flex: 0 0 50px;
}
aside .block .social-container p {
  margin: 0;
  flex: auto;
}

main {
  grid-area: main;
  padding: 5rem;
}
@media (max-width: 480px) {
  main {
    padding: 5rem 1.5rem;
  }
}
main h2 {
  margin-bottom: 4rem;
}
main p {
  letter-spacing: 0.1rem;
  line-height: 3rem;
}
main .experience {
  margin: 6rem 0;
  display: flex;
}
main .experience .timeline {
  text-align: center;
  color: var(--hint);
  padding-right: 2rem;
  border-right: 1px solid var(--border);
}
main .experience .timeline p {
  margin: 0;
}
main .experience .content {
  padding: 0 1rem;
  margin: 0 0;
}
main .experience .content h3 {
  margin: 0;
}
main .experience .content p {
  margin: 0;
}
main .experience .content ul {
  margin: 2rem 0;
  list-style: circle;
  padding-left: 4rem;
}

footer {
  grid-area: footer;
  padding: 5rem;
  background: var(--text);
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  justify-items: center;
  align-items: center;
}
@media (max-width: 480px) {
  footer {
    padding: 5rem 1.5rem;
  }
}
footer h2 {
  margin-bottom: 3rem;
}
footer form {
  display: flex;
  align-items: center;
}
footer form .prefix {
  background: linear-gradient(to right, var(--dark), var(--light));
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
footer form button {
  background: var(--text);
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
}
footer form button:hover {
  opacity: 0.8;
}
footer form button .postfix {
  background: linear-gradient(to right, var(--dark), var(--light));
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
footer form input {
  outline: 0;
  border: 0;
  min-width: 40rem;
  padding: 1rem 2rem;
  line-height: 2rem;
}
@media (max-width: 480px) {
  footer form input {
    min-width: 20rem;
  }
}
footer form input::placeholder {
  color: var(--text);
}

/*# sourceMappingURL=styles.css.map */
