// Pas d'interet d'utiliser les varaibles SCSS, on va utiliser
// les variables CSS

:root {
  font-family: "Mulish", sans-serif;
  //Couleurs
  --light: #00c3ff;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
